body {
	font-family: "Courier New", "Courier", "monospace";
	background-color: #111111;
	color: white;
}

div.header {
	text-align: left;
	height: 200px;
}

div.banner {
	font-size: 50px;
	line-height: 100px;
}

div.menu {
	font-size: 30px;
	line-height: 100px;
}

div.main {
	font-size: 30px;
	min-height: 200px;
	overflow: auto;
}

div.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	font-size: 15px;
	height: 100px;
}

.do-blink {
	animation: blinker 1.0s cubic-bezier(.5, 0, 1, 1) infinite alternate;
}

@keyframes blinker {
	to {
		opacity: 0;
	}
}

div span.menu-item {
	text-align: right;
}

div span.banner {
	text-align: left;
}

a {
	color: darkseagreen;
	text-decoration: none;
}

a:hover {
	color: limegreen;
	text-decoration: underline;
}

span.pi {
	font-size: 5px;
	color: #555555;
}

.page-title {
	color: limegreen;
}

pre {
	color: #999999;
}

p.small {
	font-size: 15px;
}

input.ui-text {
	width: 90%;
	background-color: black;
	color: white;
	border-color: limegreen;
	border-style: solid;
	border-width: thin;
	margin-left: 5px;
}

textarea {
	width: 90%;
	background-color: black;
	color: white;
	border-color: limegreen;
	border-style: solid;
	border-width: thin;
	margin-left: 5px;
}

#post-content {
	height: 350px;
}

#post-summary {
	height: 100px;
}

#pi {
	position: fixed;
	right: 10px;
	bottom: 10px;
}