<!--suppress ALL -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>pablosaraiva.com</title>
    <link rel="stylesheet" type="text/css" href="/pablosaraiva.css">
    <!-- Cookie Consent by https://www.PrivacyPolicies.com -->
    <script type="text/javascript"
            src="//www.privacypolicies.com/public/cookie-consent/3.1.0/cookie-consent.js"></script>
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function () {
            cookieconsent.run({
                "notice_banner_type": "simple",
                "consent_type": "express",
                "palette": "dark",
                "language": "en",
                "website_name": "pablosaraiva.com",
                "cookies_policy_url": "https://www.privacypolicies.com/live/5b75f1ac-8c2f-4d07-a295-02b0fa830b33"
            });
        });
    </script>

    <!-- Unnamed script -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script type="text/plain" cookie-consent="tracking" async
            src="https://www.googletagmanager.com/gtag/js?id=G-2SCTLDZWZK"></script>
    <script type="text/plain" cookie-consent="tracking">
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-2SCTLDZWZK');

    </script>
    <!-- end of Unnamed script-->

    <noscript>Cookie Consent by <a href="https://www.PrivacyPolicies.com/cookie-consent/" rel="nofollow noopener">PrivacyPolicies.com</a>
    </noscript>
    <!-- End Cookie Consent -->

</head>

<body>
<div class="header">
    <div th:insert="fragments/header :: header"></div>
</div>

<div class="main">
    <p>Pronouns: He / Him.</p>

    <p>Brazilian 🇧🇷, living in Germany 🇩🇪.</p>

    <p>
        Java &#9733 &#9733 &#9733 &#9733 &#9733<br>
        SQL &#9733 &#9733 &#9733 &#9733 &#9733<br>
        Git &#9733 &#9733 &#9733 &#9733 &#9733<br>
        Spring Web &#9733 &#9733 &#9733 &#9733 &#9733<br>
        Spring Boot &#9733 &#9733 &#9733 &#9733 &#9734<br>
        Spring Cloud Contract &#9733 &#9733 &#9733 &#9733 &#9734<br>
        Spring Data JDBC &#9733 &#9733 &#9733 &#9733 &#9734<br>
        Spring Data JPA &#9733 &#9733 &#9733 &#9733 &#9734<br>
        Kubernetes &#9733 &#9733 &#9733 &#9733 &#9734<br>
        Docker Compose &#9733 &#9733 &#9733 &#9733 &#9734<br>
        Docker &#9733 &#9733 &#9733 &#9733 &#9734<br>
        Unix &#9733 &#9733 &#9733 &#9733 &#9734<br>
        HTML &#9733 &#9733 &#9733 &#9733 &#9734<br>
        Spring Security &#9733 &#9733 &#9733 &#9734 &#9734<br>
        Css &#9733 &#9733 &#9733 &#9734 &#9734<br>
        Javascript &#9733 &#9733 &#9733 &#9734 &#9734<br>
    </p>

    <p>Currently working at Zalando.de.</p>

    <p>Previously worked at Scope Group, Chess.com and Banco do Brasil.</p>

    <p>Opinions are my own and not the views of my current or previous employers.</p>
</div>

</body>
</html>
