<!--suppress ALL -->
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>pablosaraiva.com</title>
	<link rel="stylesheet" type="text/css" href="/pablosaraiva.css">
</head>

<body>
<div class="header">
	<div th:insert="fragments/header :: header"></div>
</div>

<div class="main">
	<img src="/images/pablo.jpg" alt="Photo of Pablo Saraiva with beard" height="10%" width="10%">

	<p>Welcome!</p>

	<p>I am Pablo Saraiva, Software Engineer.</p>

	<p>This is a website I use to play around with technology that interest me at the moment.</p>

	<p>It is made with <a href="https://spring.io/projects/spring-boot">Spring boot</a> + <a href="https://www.thymeleaf.org/">Thymeleaf</a> + <a href="https://github.com/rjeschke/txtmark">txtmark</a>.</p>

	<p>Source coude is available on <a href="https://github.com/pablosaraiva/web-spring-thymeleaf"> github</a>.</p>

	<span th:if="${principalName} != null">
		Logged in as <span th:text="${principalName}"></span>
	</span>

	<span id="pi" th:if="${principalName} == null">
		<a th:href="@{/secure/blog}">π</a>
	</span>
</div>

</body>
</html>
